mat-button-toggle-group{
  width: 100%;
  display: flex;
}

mat-button-toggle{
  flex-grow: 1;
}

.range{
  margin: 16px 0;
  display: flex;
  align-items: center;
}

.range .unit{
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

app-card{
  flex-grow: 1;
}

.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 599px) {
  app-card{
    max-width: 100%;
    min-width: 100%;
  }
}
