<app-range-bar 
  (changeRange)="onChangeRange($event)" 
  [rangeType]="rangeType()"/>

@if (loading()) {
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
}@else{
  @if (activityService.loadedActivities().length > 0) {
    <div class="cards-container">
      @for (activity of activityService.loadedActivities(); track $index) {
        <app-card       
        [title]="setCardTitle(activity.exercises)" 
        [goal]="getValue(rangeType(), activity.exercise_id)"
        [quantity]="+activity.quantity"
        [editQuantity]="rangeType() === 'daily'"
        (updateQuantity)="onUpdateQuantity($event, $index)"/>  
      }
    </div>
  } @else {
    <p>No activities here...</p>
  }
}  
@if (rangeType() !== 'daily') {
  <div class="activity-chart">
    <form [formGroup]="activeExerciseForm">
      <mat-form-field class="full-width">
        <mat-label>Exercise</mat-label>
          <mat-select formControlName="activeExercise">
            @for (exercise of exercises(); track $index) {
              <mat-option [value]="exercise.value">{{ exercise.label }}</mat-option>
            }
          </mat-select>
      </mat-form-field>
    </form>

    <app-chart 
      [xData]="dataChart()?.xData" 
      [data]="dataChart()?.data"
      [goal]="activeGoal()?.quantity"
      />
  </div>
}

