form{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-range{
  padding: 10px;
  display: flex;
  align-items: center;
}

mat-slide-toggle{
  height: 56px;
}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

app-card{
  flex-grow: 1;
}

.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity-chart{
  margin: 10px 0;
}

@media (max-width: 599px) {
  app-card{
    max-width: 100%;
    min-width: 100%;
  }
}
