<app-range-bar 
  (changeRange)="onChangeRange($event)" 
  (changeRangeVal)="onChangeRangeVal($event)" 
  [rangeType]="rangeType()"
  [isAbsolute]="isRangeAbsolute()"
  [startRange]="startRange()"
  [endRange]="endRange()"
  />

@if (loading()) {
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
}@else{
  @if (loadedActivities().length > 0) {
    <div class="cards-container">
      @for (activity of loadedActivities(); track $index) {
        <app-card       
        [title]="setCardTitle(activity.entities)" 
        [goal]="getValue(rangeType(), activity.entity_id)"
        [quantity]="+activity.quantity"
        [editQuantity]="rangeType() === 'daily'"
        (updateQuantity)="onUpdateQuantity($event, $index)"/>  
      }
    </div>
  } @else {
    <p>No activities here...</p>
  }
}  
@if (rangeType() !== 'daily') {
  <div class="activity-chart">
    <form [formGroup]="activeEntityForm">
      <div class="toggle-range">
        <mat-slide-toggle
          formControlName="isRangeAbsolute">
          Absolute range
        </mat-slide-toggle>
      </div>
    
      <mat-form-field class="full-width">
        <mat-label>Entity</mat-label>
          <mat-select formControlName="activeEntity">
            @for (entity of entities(); track $index) {
              <mat-option [value]="entity.value">{{ entity.label }}</mat-option>
            }
          </mat-select>
      </mat-form-field>
    </form>

    <app-chart 
      [xData]="dataChart()?.xData" 
      [data]="dataChart()?.data"
      [goal]="activeGoal()?.quantity"
      />
  </div>
}

