<h2 mat-dialog-title>Add new basic entity</h2>
<mat-dialog-content class="mat-typography">

  <form class="basic-form" [formGroup]="insertBaseActivityForm">
    <mat-form-field class="full-width">
      <mat-label>Entity name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Calories</mat-label>
      <input type="number" matInput formControlName="unit">
    </mat-form-field>  
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="submit" (click)="insertActivity()" cdkFocusInitial>Add</button>
</mat-dialog-actions>


