<mat-toolbar>
  <button (click)="toggleSideNav.emit()" mat-icon-button aria-label="icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <a [routerLink]="['/personal']">Healt</a>
    </span>
  <span class="spacer"></span>
  <button [routerLink]="['/personal', 'goal']" mat-icon-button class="favorite-icon" aria-label="icon-button with heart icon">
    <mat-icon>flag</mat-icon>
  </button>
  <button mat-icon-button aria-label="icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>