<app-range-bar 
  (changeRange)="onChangeRange($event)" 
  [rangeType]="rangeType()"
  [isChartPage]="true"
  [showDaily]="false"
  [isAbsolute]="activityService.isRangeAbsolute()"/>

<form [formGroup]="activeExerciseForm">
  <div class="toggle-range">
    <mat-slide-toggle
      formControlName="isRangeAbsolute">
      Absolute range
    </mat-slide-toggle>
  </div>

  <mat-form-field class="full-width">
    <mat-label>Exercise</mat-label>
      <mat-select formControlName="activeExercise">
        @for (exercise of exercises(); track $index) {
          <mat-option [value]="exercise.value">{{ exercise.label }}</mat-option>
        }
      </mat-select>
  </mat-form-field>
</form>

<div class="total">
  TOTAL: {{ total() }}
</div>

<app-chart
  [xData]="dataChart()?.xData"
  [data]="dataChart()?.data"
  [goal]="activeGoal().quantity" 
  />

