<app-range-bar 
  (changeRange)="onChangeRange($event)" 
  (changeRangeVal)="onChangeRangeVal($event)" 
  [rangeType]="rangeType()"
  [isChartPage]="true"
  [showDaily]="false"
  [isAbsolute]="isRangeAbsolute()"
  [startRange]="startRange()"
  [endRange]="endRange()"/>

<form [formGroup]="activeEntityForm">
  <div class="toggle-range">
    <mat-slide-toggle
      formControlName="isRangeAbsolute">
      Absolute range
    </mat-slide-toggle>
  </div>

  <mat-form-field class="full-width">
    <mat-label>Entities</mat-label>
      <mat-select formControlName="activeEntity">
        @for (entity of entities(); track $index) {
          <mat-option [value]="entity.value">{{ entity.label }}</mat-option>
        }
      </mat-select>
  </mat-form-field>

  <!-- <mat-form-field class="full-width">
    <mat-label>Chart type</mat-label>
      <mat-select formControlName="chartType">
        @for (type of chartTypes(); track $index) {
          <mat-option [value]="type">{{ type }}</mat-option>
        }
      </mat-select>
  </mat-form-field> -->
</form>

<div class="total">
  TOTAL: {{ total() }}
</div>

<app-chart
  [xData]="dataChart()?.xData"
  [data]="dataChart()?.data"
  [goal]="activeGoal()?.quantity" 
  />
  <!-- [type]="activeEntityForm.value.chartType!" -->

<div class="save">
  <button mat-flat-button (click)="openDialog()">Save</button>
</div>

