:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

form{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-range{
  padding: 10px;
  display: flex;
  align-items: center;
}

.total{
  font-size: 20px;
  
}

.save{
  display: flex;
  justify-content: end;
  margin-bottom: 80px;
}

mat-slide-toggle{
  height: 56px;
}

app-chart{
  flex-grow: 1;
}