@if (authService.activeProfile()) {
  <h1>Welcome {{ authService.activeProfile()?.username }}</h1>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <a [routerLink]="['/personal', 'dashboard']">Dashboard</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a [routerLink]="['/personal', 'basic-exercise']">Basic Exercises</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a [routerLink]="['/personal', 'exercise']">Exercises</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a [routerLink]="['/personal', 'activity']">Activity</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a [routerLink]="['/personal', 'charts']">Charts</a>
    </mat-list-item>
  </mat-list>
}