<h2 mat-dialog-title>Add new exercise</h2>
<mat-dialog-content class="mat-typography">

  <form class="exercise-form" [formGroup]="insertExerciseForm">
      <mat-form-field class="full-width">
        <mat-label>Exercise name</mat-label>
        <mat-select formControlName="basicExercise">
          @for (basicActivity of basicActivities(); track $index) {
            <mat-option [value]="basicActivity.value">{{ basicActivity.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Number of repetitions</mat-label>
        <input type="number" matInput formControlName="repetitions">
      </mat-form-field>  
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="submit" (click)="insertExercise()" cdkFocusInitial>Add</button>
</mat-dialog-actions>


