<section>
  <h3>Today's activities</h3>
  @if (loadedActivities().length > 0) {
    <div class="cards-container">
      @for (activity of loadedActivities(); track $index) {
        <app-card       
        [title]="activity.exercises?.name ? activity.exercises.name : activity.exercises?.basic_activity_exercise.name" 
        [quantity]="+activity.quantity"
        [editQuantity]="true"
        (updateQuantity)="onUpdateQuantity($event, $index)"/>  
      }
    </div>
  } @else {
    <p>No activities here...</p>
  }  
</section>

<section>
  <h3>Charts</h3>
  <app-swiper>
    @for (chart of charts(); track $index) {
      <swiper-slide (click)="goToChart(chart)" swiper-slide-content>
        <app-custom-card 
          [title]="chart.name" 
          [subtitle]="'total: ' + chart.total" 
          [settings]="true"
          (openSettings)="onOpenSettings($index)">
          <app-chart content
            [xData]="chart.data?.xdata!"
            [data]="chart.data?.data"
            [goal]="chart.data?.goal" 
          />  
        </app-custom-card>        
      </swiper-slide>
    }
  </app-swiper>
</section>

